<body>
<ng-container *ngIf="trashArray$ | async as resourceMap">
  <div class="background" [ngClass]="{'fire-1': resourceMap.get('').get('HEAT').value > 10, 'no-fire': resourceMap.get('').get('HEAT').value <= 10}">
    <div class="game-container">
      <div class="resources">
        <resources></resources>
      </div>
      <div>
        <border></border>
      </div>
      <div class="bonfire">
        <bonfire></bonfire>
      </div>
      <div class="logs">
        <logger></logger>
      </div>
    </div>
  </div>
</ng-container>
</body>
