<div class="main">
  <div class="column-1">
    <ul class="vertical-menu">
      <li (click)="viewMode ='tab1'" [ngClass]="{'active':viewMode =='tab1'}">Electronic</li>
      <li (click)="viewMode ='tab2'" [ngClass]="{'active':viewMode =='tab2'}">Kindling</li>
      <li (click)="viewMode ='tab3'" [ngClass]="{'active':viewMode =='tab3'}">Medical</li>
      <li (click)="viewMode ='tab4'" [ngClass]="{'active':viewMode =='tab4'}">Metal</li>
      <li (click)="viewMode ='tab5'" [ngClass]="{'active':viewMode =='tab5'}">Plastic</li>
      <li (click)="viewMode ='tab6'" [ngClass]="{'active':viewMode =='tab6'}">Rubbish</li>
    </ul>
  </div>
  <ng-container [ngSwitch]="viewMode">
    <div *ngSwitchCase="'tab1'" class="column-2 electronic">
      <span class="description">Electronic Description here!</span>
      <div class="actions">
        <div class="action-button">
          <button mat-stroked-button color="primary">Action 1</button>
        </div>
        <div class="action-button">
          <button mat-stroked-button color="primary">Action 2</button>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'tab2'" class="column-2 kindling">
      <span class="description">Pieces of paper, torn scraps of fabric, and soft bits of things.<br>
        These would probably all burn well in the fire...</span>
      <div class="actions">
        <div class="action-button">
          <button mat-stroked-button color="primary">Action 1</button>
        </div>
        <div class="action-button">
          <button mat-stroked-button color="primary">Action 2</button>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'tab3'" class="column-2 medical">
      <span class="description">Unlabelled pill bottles, mysterious powders, and colored vials...<br>
        You have no idea what any of these are, or how long they've been here.</span>
      <div class="actions">
        <div class="action-button">
          <button mat-stroked-button color="primary">...bottoms up.</button>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'tab4'" class="column-2 metal">
      <span class="description">Sharp and pointy bits of metal covered with rust that glint in the fire.<br>
        Currently of little use.</span>
      <div class="actions">
        <div class="action-button" tooltip="-5 Metal, +1 Scrap">
          <button mat-stroked-button color="primary">Smelt</button>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'tab5'" class="column-2 plastic">
      <span class="description">Numerous bottles, bags, and other containers, alongside many other objects<br>
        whose purpose you can only guess at...</span>
      <div class="actions">
        <div class="action-button">
          <button mat-stroked-button color="primary">Melt Down</button>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'tab6'" class="column-2">
      <span class="description">Rubbish Description here!</span>
      <div class="actions">
        <div class="action-button">
          <button mat-stroked-button color="primary">Throw it into the fire.</button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
