.column {
  display: flex;
  flex-flow: column;
  width: 600px;
  padding: 80px 10px 10px;
  border-right-style: solid;
  border-width: 3px;
  border-color: lightgrey;
  //background-color: darkslategrey;
  height: calc(100% - 90px);
}

.actions {
  display: flex;
  flex-flow: row;
  margin: 5px 5px 5px 5px;
  justify-content: center;
  .action-button {
    margin: 5px 10px;
  }
}

